* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------- */

.bg-porpora {
  background-color: #b91450;
}

.bg-grey {
  background-color: #808080;
}

.text-porpora {
  color: #b91450;
}

#biglietto {
  width: 100%;
  display: none;
}

input,
select {
  height: 40px;
  border-radius: 5px;
  border: 2px solid #b91450;
}

input:focus {
  background-color: #b91450;
}

:focus::placeholder {
  color: white;
}
